{% extends "layout.html" %}
{% block content %}

    <section>
       
      <div class="container">
        <h1 id="heading"></h1>
        <ul  id="gallary">
        {% for message in messages %}
        <div class="">
       
        <li><img style="border-radius: 50%; border: 1.5px solid #03899c; width: 30px; height: auto;" src="{{url_for('static', filename='profile_pics/' + message.author.image_file)}}">{{ message.author.brand_name}}</li> 
         <li><a href="{{url_for('orders', invoice= message.body)}}">{{ message.body }}</a></li> 
         </div>
         {% endfor %}
        </ul>
    </div>
        </section>
 
{% endblock content %}